
<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/imxg/weather.png">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <div class="main-content">
        {{>head}}
        <p>{{errormessage}}</p>
    </div>
    
    {{>foot}}
</body>

</html>