<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/style/style.css">
    
</head>

<body>
    <div class="main-content">
        {{>head}}
        <p>Use this site to get your weather!</p>
        <form>
            <input placeholder="Location"></input>
            <button>Press</button>
        </form>
        <p id='msg1'></p>
        <p id='msg2'></p>

    </div>
    <script src="/js/script.js"></script>
    {{>foot}}
</body>

</html>